* {
	padding: 0;
	margin: 0;
}

* body	{
	background-color: #151515;
	width: 970px;
	font-size: 11pt;
}
#hi {
	width: 20%;
	display: inline-block;
}

header	{
	background-color: #f1f1f1;
}

h1	{
	font-size: 14pt;
	display: inline-block;
	text-align: right;
	width: 75%;
	position: relative;
	bottom: 30px;
}

#intro {
    position: relative;
    width: 970px;
    height: 300px;
}

#cloud {
   position: absolute;
    width: 500px;
    background: #ffffff;
    height: 300px;
    margin: 0 auto;
	border: 5px solid grey; 
	left: 10px;
	top: 20px;
}

.content_box1 {
	background-color: #e9e9e9;
	position: relative;
	left: 530px;
	top: 20px;
	border: 5px solid grey;
	height: 300px;
	width: 40%;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

h2.top {
	background-color: #939393;
	font-size: 12pt;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-left: -10px;
	margin-right: -10px;
}

p {
	padding: 10px;
}

img {
	height: 150px;
	width: 210px;
}

#details {
    width: 970px;
    height: 300px;
    background: green;
    position: relative;
    top: 40px;
    left: 10px;
}

.content_box2 {
	background-color: #bdbdbd;
	border: 5px solid grey;
	height: 500px;
	width: 22%;
	display: inline-block;
	vertical-align: top;
	margin-right: 12px;
}

h2.bottom {
	background-color: #939393;
	font-size: 12pt;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;

