* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica;
	font-weight: lighter;
	width: 970px;
/*	background: linear-gradient(#f1f1f1, white);*/
}

.blue_text {
	color: blue;
	background-color: white;
}

#globe {
	width: 100px;
	position: relative;
	top: 20px;
}

h2 {
	background-color: navy;
	color: white;
	padding: 10px;
}

.red_text {
	color: red;
	background-color: white;
}

#sidebar {
	height: 200px;
	width: 225px;
	border: 1px black;
	padding-top: 20px;
	padding-left: 20px;
}

.blue_button {
	background-color: blue;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow:2px 2px 5px #888888;
    width: 220px;
    margin-top: 10px;
}
.orange_button {
	background-color: orange;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow:2px 2px 5px #888888;
    width: 220px;
    margin-top: 10px;
}
.light_blue_button {
	background-color: #0099CC;
    border: none;
    color: white;
    padding: 10px;
    margin-left: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    top: -75px;
    position: relative;
}

.ad {
	position: relative;
}
#ad_back {
	width: 220px;
	margin-top: 60px;
	position: relative;
}

#ad_text {
	color: white;
	font-size: 22px;
	text-align: center;
	width: 200px;
	position: absolute;
	display: block;
	top: 460px;
	left: 30px;
}
#ninja {
	width: 100px;
	position: absolute;
	margin-top: 160px;
	left: 80px;

}
